; These parameters can be imported into other config files
; by enclosing the key with % (like %database_user%)
[parameters]
    database_driver="pdo_mysql"
    database_host="http://expediente.local/"
    database_port=""
    database_name="expediente"
    database_user="root"
    database_password="root"
    mailer_transport="smtp"
    mailer_host="localhost"
    mailer_user=""
    mailer_password=""
    locale="en"
    secret="f58cb6fa0dafb263df5b8c5e1d9fc958aa9ff587"
