{% extends 'TecnotekExpedienteBundle::logged_layout.html.twig' %}

{% block htmlTitle %}
    Tecnotek :: Expediente :: Super Administrador
{% endblock %}

{% block content %}
<div class="container_24">
    <div class="grid_24">
            <div class="services first">
                    <a href="route">
                            <em>
                                    <img src="images/1page_img1.png" alt="">
                                    <img src="images/1page_img1-hover.png" alt="" class="image-hover">
                            </em>
                            <span>Clubes <strong>Transporte</strong></span>
                    </a>
            </div>
            <div class="services">
                    <a href="ticket">
                            <em>
                                    <img src="images/1page_img2.png" alt="">
                                    <img src="images/1page_img2-hover.png" alt="" class="image-hover">
                            </em>
                            <span>Boletas <strong></strong></span>
                    </a>
            </div>
            <div class="services">
                    <a href="qualifications">
                            <em>
                                    <img src="images/1page_img3.png" alt="">
                                    <img src="images/1page_img3-hover.png" alt="" class="image-hover">
                            </em>
                            <span>Calificaciones <strong></strong></span>
                    </a>
            </div>
            <div class="services">
                    <a href="more.html">
                            <em>
                                    <img src="images/1page_img4.png" alt="">
                                    <img src="images/1page_img4-hover.png" alt="" class="image-hover">
                            </em>
                            <span>Reportes <strong>Notas</strong></span>
                    </a>
            </div>
            <div class="services last">
                    <a href="period">
                            <em>
                                    <img src="images/1page_img5.png" alt="">
                                    <img src="images/1page_img5-hover.png" alt="" class="image-hover">
                            </em>
                            <span>Mantenimientos <strong>Curso Lectivo</strong></span>
                    </a>
            </div>
            <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="wrapper">
            <div class="grid_24 padline">
                    <div class="lineH"></div>
            </div>
    </div>
    <div class="wrapper">
            <div class="grid_8">
                    <h2>Kinder</h2>
                    <img src="images/logo_conejo.jpe" alt="" width="175" height="150">
                    <p class="pad">Espacio Reservado.</p>
                    <a href="http://tioconejo.net/" target="_blank" class="button">Ir al Sitio</a>
            </div>
            <div class="grid_8">
                    <h2>Escuela</h2>
                    <img src="images/logo_saint.png" alt="" width="175" height="150">
                    <p class="pad">Espacio Reservado.</p>
                    <a href="http://saintmichaelcr.net/" target="_blank" class="button">Ir al Sitio</a>
            </div>
            <div class="grid_8">
                    <h2>Colegio</h2>
                    <img src="images/logo_saint.png" alt="" width="175" height="150">
                    <p class="pad">Espacio Reservado.</p>
                    <a href="http://saintmichaelcr.net/" target="_blank" class="button">Ir al Sitio</a>
            </div>
    </div>
    <div class="wrapper">
            <div class="grid_24">
                    <div class="padline2"><div class="lineH"></div></div>
                    <h2 class="padtitle22">Otros Enlaces</h2>
                    <ul class="partners">
                            <li><a href="#"><img src="images/1page_img9.png" alt=""></a></li>
                    </ul>
            </div>
    </div>
</div>
{% endblock %}